/* Style cho phần item list */
.container {
  max-width: 1200px;
  margin: 32px auto;
}
.header {
  font-style: italic;
  padding: 18px 0px 14px 0px;
}
.header > h2 {
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 1.5px;
  margin: 0px;
}
.header > h3 {
  font-weight: 450;
  color: #c8c8c8;
  font-size: 14px;
  letter-spacing: 1px;
  margin: 0px;
}
.itemList {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 28px 28px;
}
