/*Style cho hiệu ứng Zoom Out khi để hiển thị các sản phẩm */

.zoomOut-appear {
  opacity: 0.3;
  transform: scale(0.7);
}
.zoomOut-enter {
  opacity: 0.3;
  transform: scale(0.7);
}
.zoomOut-enter-done {
  opacity: 1;
  transform: scale(1);
  transition: all 500ms ease-out;
}
